<!DOCTYPE html>
<html lang="en">
<head>
	<title>Polygon Scraper</title>
	<meta charset="UTF-8">
	{{!-- Google Fonts --}}
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

	{{!-- Font Awesome --}}
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	{{!-- Bootstrap --}}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

	{{!-- jQuery --}}
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

	{{!-- Custom CSS --}}
	<link rel="stylesheet" href="/assets/css/reset.css">
	<link rel="stylesheet" href="/assets/css/main.css">

	{{!-- Custom JS --}}
	<script src="/js/main.js"></script>
</head>
<body>
	<div class="page-container">
		<nav class="navigation">
			<a class="home-link" href="/"><img class="logo-img" src="/assets/images/logo.png" alt="Polygon Scraper"></a>
		</nav>
	<div class="jumbotron">
		<img class="jumbotron-image" src="/assets/images/jumbotron.jpg" alt="">
		<div class="jumbotron-overlay">
			<div class="text-button-container">
				<h1>See the latest from Polygon.</h1>
				<h2>It's quick and easy!</h2>
				<div class="button-container">
					<button id="scrape-button">Get New Articles</button>
					<button id="archive-button" onClick="location.href='/archive';">Archives</a>
				</div>
			</div>
		</div>
	</div>
		<main class="main-content">
			{{{ body }}}
		</main>
		<footer class="footer">
			<p>&copy;2018 Andrew Murphy</p>
			<a href="https://github.com/a-murph/News-Scraper"><span class="fab fa-github"></span>  GitHub Repo</a>
		</footer>
	</div>
</body>
</html>
